.because {
background-image: url(../../img/column.png);
background-position: left;
background-repeat: no-repeat; 
position: relative;

    &__line{
        margin-bottom: 4px;
        margin-right: 2px;
    }

    &__container {
        display: flex;
        justify-content: flex-end;
        max-width: 1440px;
        margin: auto;
    }

    &__img {
        position: absolute;
    }

    &__img-man {
        left: 10px;
        bottom: 0;
        object-fit: cover;
    }

    &__img-bracket-down {
        top: 290px;
        left: -100px;
    }

    &__img-bracket-up {
        top: 15px;
        right: 150px;
    }

    &__img-painting {
        bottom: -10px;
        right: 20px;
    }

    &__content {
        position: relative;
        max-width: 770px;
        width: 100%;
        margin-right: 41px;
        margin-bottom: 86px;
    }

    &__heading {
        color: var(--gray-color);
        margin-top: 80px;
        letter-spacing: 0.2px;
        margin-bottom: 30px;
        margin-left: 3px;       
    }

    &__head {
        margin-top: 20px;
        line-height: 52px;
        letter-spacing: 4px;
        max-width: 430px;
    }

    &__text {
        max-width: 520px;
        color: #232228;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin-bottom: 105px;
        margin-left: 1px;
    }

    &__break {
        display: block;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family: "montserrat";
        font-size: 16px;
    }

    &__employee {
        letter-spacing: 0.2px;
    }

    &__name {
        margin-bottom: 15px;
        letter-spacing: 1.5px;
    }

    @media (max-width: 1300px) {
        
        &__content {
            max-width: 570px;
        }

        &__img-bracket-up {
            right: 120px;
        }
    }

    @media (max-width: 1200px) {
        &__img-man {
            left: -130px;
        }
    }

    @media (max-width: 1000px) {
        background-position: top 0px left -140px;

        &__content {
            max-width: 520px;
            margin-right: 27px;
            margin-bottom: 60px
        }

        &__heading {
            margin-top: 50px;
        }

        &__img-man {
            height: 550px;
        }

        &__img-bracket-down {
            left: -50px;
        }
    }

    @media (max-width: 890px) {
        background-position: top 0px left -250px;
        padding: 0 27px 0 29px;

        &__img-man {
            display: none;
        }
    }

    @media (max-width: 690px) {
        background-image: none;

        &__container {
            justify-content: center;
        }

        &__img {
            display: none;
        }

        &__text {
            margin-bottom: 65px;
        }    
    }

    @media (max-width: 520px) {
        &__head {
            font-weight: 600;
            line-height: 32px;
            letter-spacing: 3px
        }
    }

    @media (max-width: 389px) {

        &__container {
            margin-left: 29px;
        }
        &__text {
            margin-bottom: 55px
        }
    }
}