.choose-us {
    box-sizing: border-box;
    color: var(--dark);
    background-image: url(../../img/scales.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        max-width: 1440px;
        margin: auto;
        padding-left: 10px;
    }

    &__advantages{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--gray-color);
        padding-left: 10px;
        margin-top: 80px;
        letter-spacing: 0.2px;
        margin-bottom: 51px;
    }

    &__head {
        margin: 0px;
        margin-top: 29px;
        letter-spacing: 4.3px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
        gap: 24px;
        max-width: 1296px;
        width: 100%;
    }

    &__item {
        padding: 30px 0px 24px 23px;
        min-height: 163px;
        border: solid 1px;
        border-color: #D9D9D9;
        background-color: white;
    }

    &__icon {
        width: 48px;
        height: 48px;
    }

    &__subtitles {
        margin: 0px;
        margin-top: 21px;
        letter-spacing: 1.8px;
        font-weight: 600;
    }

    &__item-text {
        font-size: 14px;
        margin-top: 15px;
        line-height: 21px;
        max-width: 250px;
    }

    &__break{
        display: block;
        font-family: "montserrat";
        max-width: 200px;
    }

    &__button {
        margin-top: 58px;
        margin-bottom: 82px;
    }

    @media (max-width: 1378px) {
        &__container {
            margin: 0 70px;
        }
    }

    @media (max-width: 1030px) {
        &__container {
            margin: 0 27px 0 29px;
        }
    }

    @media (max-width: 550px) {
        &__advantages {
            margin-top: 50px;
        }

        &__items {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        &__item {
            padding: 20px 10px 14px 13px;
        }

        &__head {
            font-weight: 900;
        }

        &__button {
            margin-top: 38px;
            margin-bottom: 52px;
        }
    }
}