@font-face {
    font-family: "optimal", sans-serif;
    src: url(../../fonts/optimal/Optimal.woff);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat";
    src: url(../../fonts/montserrat/Montserrat-Regular.woff);
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: "doloman";
    src: url(../../fonts/doloman/DolomanPavljenko.otf);
    font-style: normal;
    font-weight: normal;
}