.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    
    &__open {
        opacity: 1;
        pointer-events: auto;
    }

    &__content {
        position: relative;
        max-width: 963px;
        width: 100%;
        background-color: white; 
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        padding: 24px;
    }

    &__wrap {
        max-width: 915px;
        width: 100%;
        border: solid 1px;
        border-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0 20px;
    }

    &__close {
        background: transparent;
        border: none;
        width: 24px;
        height: 24px;
        position: absolute;
        top: -61px;
        right: -61px;
        padding: 0px;
    }

    &__container {
        max-width: 582px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'optimal';
    }

    &__header {
        margin-bottom: 25px;
        margin-top: 46px;
    }

    &__head{
        margin: 0px;
        text-align: center;
        font-weight: 100;
        letter-spacing: 2.6px;
        line-height: 52px;
    }

    &__form {
        max-width: 582px;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        margin-bottom: 54px;
    }

    &__inputs {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 41px;
    }

    &__input {
        border: solid 1px;
        border-color: #B1B1B1;
    }

    @media(max-width: 600px) {
        padding: 30px;
        
        &__close {
            top: -45px;
            right: -45px;
        }

        &__header {
            margin-top: 26px;
        }

        &__head {
            letter-spacing: 0.6px;
            line-height: 31px;
            font-weight: 900;
        }

        &__form {
            margin-bottom: 24px;
        }
    }
}