.our-experts {
    padding: 78px 0px 75px 70px;

    &__button {
        color: var(--dark);
    }

    &__container {
        max-width: 1580px;
        display: flex;
        gap: 64px;
        margin-left: auto;
    }

    &__contents {
        max-width: 492px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__heading {
        margin: 27px 0 28px;
        letter-spacing: 0.2px;
    }

    &__head {
        margin: 0px;
        margin-top: 22px;
        font-weight: 500;
        letter-spacing: 5px;
        line-height: 52px;
    }

    &__content {
        color: var(--dark);
        line-height: 24px;
        letter-spacing: 0.2px;
        max-width: 462px;
        margin-bottom: 38px;
    }

    &__gallery {
        position: relative;
        overflow: hidden;
        width: 100%;
        z-index: 0;
    }

    &__items {
        display: flex;
    }

    &__item {
        width: 229px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    &__name {
        font-family: 'optimal', sans-serif;
        font-size: 16px;
        color: var(--dark);
        font-weight: 500;
        margin: 24px 0px 16px
    }

    &__item-up {
        h3 {
            margin: 0px;
            margin-bottom: 15px;
        }
    }

    &__photo {
        max-width: 229px;
        height: 312px;
        background-color: var(--primary-color);
        object-fit: cover;
        object-position: -5px 9px;
    }

    &__photo-up {
        margin-top: 21px;
    }

    @media (max-width: 1030px) {
        padding: 58px 0px 55px 29px;
    }

    @media (max-width: 740px) {
        &__head {
            letter-spacing: 2px;
            line-height: 38px;
        }
    }

    @media (max-width: 600px) {
        padding: 38px 0px 35px 29px;

        &__container {
            flex-wrap: wrap;
        }

        &__contents {
            margin-right: 27px;
        }

        &__item {
            align-items: center;
        }
    }

    @media (max-width: 600px) {
        &__head {
            font-weight: 900;
        }
    }
}