.reviews {
    background-color: #F6F4F5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    &__header {
        margin-top: 80px;
        margin-left: 12px;
        letter-spacing: 0.2px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: #B1B1B1;
    }

    &__head {
        margin-top: 28px;
        letter-spacing: 4px;
    }

    &__slider {
        position: relative;
        display: flex;
        overflow: hidden;
        width: 100%;
        z-index: 0;
        padding-bottom: 139px;
    }

    &__items {
        display: flex;
        margin-top: 58.5px;
        margin-left: 7px;
    }

    &__item {
        margin-top: 36px;
        flex-shrink: 0;
        position: relative;
        min-height: 348px;
        background-image:
        url(../../img/bracket-down.svg),
        url(../../img/bracket-up.svg), 
        url(../../img/back-reviews.png);
        background-position: bottom -115px left 329px, top -115px right 310px, center;
        background-repeat: no-repeat;
        
    }

    &__info {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 34px;
        letter-spacing: 0.4px;
        line-height: 24px;
        color: black;
        font-style: oblique;
        max-width: 660px;
        margin: auto;
        margin-top: 100px;
    }

    &__image {
        max-width: 100%;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: 279px;
    }

    &__data {
        color: var(--gray-color);
        font-style: normal;
        font-size: 14px;
        letter-spacing: -0.1px;
    }

    &__name{
        letter-spacing: 1.3px;
        margin-bottom: 6px;
    }

    &__pagination {
        position: absolute;
        display: flex;
        justify-content: center;
        gap: 11px;
        width: 64px;
        height: 16px;
        transform: translateX(-35%);
        left: 50%;
        bottom: 77px;
    }

    &__bullet {
        font-size: 14px;
        background-color: white;
        cursor: pointer;
        transition: 0.3s;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        position: relative;
    }

    &__bullet.swiper-pagination-bullet-active {
        background-color: #a4834e;
        
    }

    &__bullet.reviews__bullet.swiper-pagination-bullet-active::after {
            content: "";
            position: absolute;
            inset: -4px;
            border: 1px solid #a4834e;
            border-radius: 100%;
        }

    &__button {
        width: 48px;
        height: 48px;
        position: absolute;
        border: solid 0px;
        transform: translateY(510%);
        cursor: pointer;


        &--next {
            background-image: url(../../icons/arrow-next.svg);
            right: 57px;
        }

        &--prev {
            background-image: url(../../icons/arrow-prev.svg);
            left: 69px;
        }
    }

    @media(max-width: 1150px) {
        
        &__button--next {
            right: 27px;
        }

        &__button--prev {
            left: 39px;
        } 
    }

    @media(max-width: 1010px) {
        padding: 0 70px;

        &__item {
            border-radius: 11%;
            padding: 10px;
            background-position: 
                bottom -115px left 140px, 
                top -115px right 140px, 
                center;
        }

        &__button {
            display: none;
        }
    }

    @media(max-width: 720px) {
        padding: 0 29px;

        &__header {
            margin-top: 50px;
        }

        &__item {
            background-position: 
                bottom -115px left 50px, 
                top -115px right 50px, 
                center;
        }

        &__head {
            font-weight: 900;
        }

        &__slider {
            padding-bottom: 100px;
        }

        &__pagination {
            bottom: 47px;
        }
    }

    @media(max-width: 537px) {
        &__item {
            background-image:none;
            background-color: white;
            border-radius: 10%;
        }
    }

    @media(max-width: 377px) {
        &__image {
            bottom: 80%;
        }
    }
}