.subscribe {
    margin-bottom: 80px;

    &__container {
        margin: 72px 40px 0px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__head {
        margin-top: 28px;
        margin-bottom: 30px;
        letter-spacing: 4px;
    }

    &__dark {
        color: var(--dark);
        letter-spacing: 0.2px;
        margin-left: 13px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-left: 13px;
        letter-spacing: 0.2px;
    }

    &__form {
        margin-top: 39px;
        margin-left: 14px;
        display: flex;
        justify-content: center;
        gap: 16px;
    }
    
    @media(max-width: 900px) {
        margin-bottom: 50px;

        &__container {
            margin: 54px 20px 0px;
        }
    }

    @media(max-width: 720px) {
        &__head {
            font-weight: 900;
        }
    }

    @media(max-width: 720px) {
        &__form {
            flex-wrap: wrap;
        }
    }
}